body{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font: 16px 'Arial';
    position: relative;
    overflow-x: hidden;
}

.overlay {
    background: rgba(00, 00, 00, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff;
    opacity: border 0.1;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
}

.car {
    width: 50px;
    height: 50px;
    position: relative;
    background-image: url(../img/car-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.car:hover .optic {
    box-shadow: 1px 1px 1px 10px #ffffff;
    opacity: 0.7;
}

.logo-text {
    margin: 0 0 0 15px;
}

.user {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.user a {
    margin: 0 5px 0;
    color: #ffffff;
    transition: 0.5s;
    font-weight: bold;
}

.user a:hover {
    color: #cccccc;
    text-decoration: none;
}

.optic {
    transition: 0.5s;
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    top: 25px;
    left: 7px;
}

.optic:last-child {
    left: 37px;
}

header {
    z-index: 2;
    padding: 100px 0 0;
    background-color: #000000;
    height: 100vh;
    background-image: url(../img/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    z-index: 2;
    border: 1px solid #ffffff;
    width: 100%;
    max-width: 150px;
    height: 100%;
    padding: 15px;
    height: 640px;
}

aside .menu {
    display: flex;
    max-width: 300px;
    width: 100%;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

aside .menu .link {
    margin: 15px 0;
}

.link a {
    font-weight: bold;
    color: #ffffff;
    transition: 0.5s;
    text-transform: uppercase;
}

.link a:hover {
    color: #cccccc;
    text-decoration: none;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 15px 50px;
    z-index: 2;
    max-width: 950px;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
}

.accordion .card {
    width: auto;
    height: auto;
    color: #000000;
    background-color: transparent;
}

.accordion {
    background-color: transparent;
    padding: 50px 0 0;
}

.accordion .card-body {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.accordion .btn {
    color: #ffffff;
}

.accordion .card-header {
    background: rgba(00, 00, 00, 0.7);
}

.cars-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 10px;
    width: 250px;
    height: 300px;
    transition: 0.5s;
}

.card:hover .image{
    background-color: #ffffff;
}

.card:hover .image span{
    color: #000000;
}

.card:hover .btn-buy {
    opacity: 1;
}

.image {
    width: 100%;
    height: 200px;
    background-color: #000000;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 15px 0;
    color: #000000;
    text-align: left;
}
.price {
    color: #000000;
    margin: 15px 15px 0;
}

.btn-buy {
    width: 50px;
    height: 25px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    transition: 0.5s;
    right: 15px;
    bottom: 35px;
}

.btn-buy:hover {
    background-color: #CC3333;
    color: #ffffff; 
    text-decoration: none;
}

.modal-window {
    position: absolute;
    top: 35%;
    z-index: 1000;
    box-shadow: 0px -1px 15px 1px #000000;
    transition: 0.5s;
    color: #000000;
}

form {
    position: relative;
    background-color: #ffffff;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form i {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

.open {
    left: 40%;
}

.close {
    left: -100%;
}

.carousel {
    width: 100%;
}
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000
}

.carousel-item .card {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 15px;
}

.author {
    font-weight: bold;
    color: #CC3333;
    text-align: center;
}

.data {
    text-align: center;
}

.partners {
    display: flex;
    flex-direction: column;
    padding: 25px 0 0;
}

.content h2 {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.partners .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.partners .menu img {
    width: 50%;
    transition: 0.5s;
}

.partner-link {
    background: rgba(253, 253, 253, 0.5);
    width: 250px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.partner-link:hover {
    background: rgba(253, 253, 253, 1);
}

.partner-link:hover img {
    width: 55%;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.contacts .card {
    padding: 15px;
}

.contacts .card:hover {
    box-shadow: 5px 5px #CC3333;
}

.contacts .card:hover .img {
    box-shadow: -5px -5px #CC3333;
}

.contacts .card:hover .tel {
    font-weight: bold;
    color: #CC3333;
}

.contacts .img {
    width: 100%;
    height: 300px;
    background-color: #000000;
    transition: 0.5s;
    border-radius: 10px;
}

.contacts p {
    margin: 5px 0;
    text-align: center;
}

.name {
    font-weight: bold;
    color: #CC3333;
}

.tel {
    transition: 0.5s;
}

.contact-title {
    text-align: center;
}

.copyright {
    padding: 50px 0;
    text-align: center;
}

.copyright a {
    color: #ffffff;
    text-decoration: underline;
}

.copyright a:hover {
    text-decoration: none;
}

.menu-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-links a {
    margin: 0 15px 0;
    font-size: 25px;
    color: #ffffff;
    transition: 0.5s;
}

.menu-links a:hover {
    color: #CC3333;
}